.parent{ 
    display: flex; background-color: black;
justify-content: center;
align-items: center;
padding: 30px;
gap: 30px;




}
 .std{ width: 300px; background-color: aquamarine;
text-align: center; 
padding: 30px;
}
 .imgg1{
    border-radius: 50%;
    
 }
 .fir{
    text-align: center;
    color: blueviolet;
 }